ul li {
    margin-top: 20px;
    left: auto;
    gap: 20px;
    font-size: 16px;  
    border-bottom: 1px solid var(--content-secondary);
}

.agendamento-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: flex-start; /* Alinha à esquerda */
    text-transform: capitalize;
}

.agendamento-container strong,
.agendamento-container span,
.agendamento-container p {
    margin-right: 10px; /* Adiciona um espaçamento entre os elementos */
}


.pet-nome{
    color: var(--accent-yellow);
    text-transform: uppercase;

}

.pet-motivo{
    color: var(--accent-orange);
    text-transform: uppercase;
}

.obs-pet{
    color: red;
    font-weight: bold;
}

.line{
    border-bottom: 2px solid var(--content-secondary);
    padding-bottom: 10px;
    border-radius: 2px;
}